@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400;500;700&family=Fira+Sans:ital,wght@0,200;1,200&family=Lato:wght@300;700&family=Lobster+Two&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@400;600&family=Raleway:wght@300;400;600&family=Roboto&family=Rubik+Vinyl&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  min-height: 100vs;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  min-height: 750px;
  background-image: url(./img-logo/imgHeader.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 8px 15px;
}

.headerbutton {
  display: flex;
  gap: 15px;
}
/* .navbtn {
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.4s;
} */
/* .navbtn:hover {
  border-bottom: 2px solid black;
} */
.sectiontitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  background: linear-gradient(to bottom, #fffcef, #f8f8f8);
  color: #47525e;
  text-align: center;
  padding-top: 20px;
}
.description {
  text-align: center;
  color: #383838;
}
.gridcontainer {
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "maincontent sidebarcontent";
  padding: 20px;
  flex: 1 0 auto;
}

.maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: maincontent;
}

.maincardimg {
  background-color: #292929;
  width: 100%;
}
.categorycard {
  width: 300px;
  border: 2px solid transparent;
  padding: 15px;
  transition: 0.7s;
  cursor: pointer;
}
.categorycard:hover {
  border: 1px solid #47525e;
  background-color: #fffbeb;
  width: 320px;
}
.maincategorycardtitle {
  font-family: "Lato";
  padding: 6px;
}
.description {
  padding: 6px;
  font-family: "Lato", sans-serif;
}
.sidebarcontent {
  background-color: #e7e7dd;
  color: #47525e;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  grid-area: sidebarcontent;
  gap: 20px;
}
.sidebarcard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.sidebarcardimg {
  width: 20%;
  border-radius: 10px;
}
.sidebarcard:hover {
  border: 1px solid gainsboro;
}
.sidebarcardtitle {
  font-family: "Lato";
  text-align: center;
  padding: 10px;
}
.sidebarmaintitle {
  font-family: "Roboto";
}
.footer {
  width: 100%;
  min-height: 40px;
  background: linear-gradient(to bottom, #e7e7dd 75%, #9e8c6e 25%);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}
.logofooter {
  width: 180px;
  justify-items: center;
  font-family: "Lato";
}
.footeranchor {
  color: white;
  text-decoration: none;
  font-family: "Lato";
}

@media (max-width: 1000px) {
  .header {
    width: 100%;
    min-height: 450px;
  }
}
@media (max-width: 841px) {
  .header {
    width: 100%;
    min-height: 400px;
  }
  .gridcontainer {
    gap: 20px;
  }
}
@media (max-width: 640px) {
  .gridcontainer {
    grid-template-areas: "maincontent" "sidebarcontent";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  /* .maincontent {
    display: flex;
    width: 15rem;
    min-height: 15rem;
  } */
  .sidebarcontent {
    min-width: auto;
  }
  .footeranchor {
    font-size: 19px;
  }
}
@media (max-width: 463px) {
  .header {
    justify-content: center;
  }
  .footer {
    justify-content: center;
  }
}
